language: java
sudo: false
install: true
addons:
  sonarcloud:
    organization: "ekesicki-github"
    token:
      secure: "ce17e7a0aa9785f5bd0cc4279f0acd1373be6359"
jdk: oraclejdk8
script: mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent package sonar:sonar
cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.sonar/cache'
